body {
  background-color: rgb(204, 204, 204);
  font-family: Arial, sans-serif;
  margin: 0;
}

/* headings center */
h1, h2 {
  text-align: center;
}

/* playlist */
ul {
  margin-left: 40px;
}

li {
  list-style-type: none;
  margin: 5px 0;
}

a {
  text-decoration-line: none;
  color: blue;
}

/* video box */
.player_one {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

/* audio box */
.player_two {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

/* media size fix */
video {
  width: 400px;
}

audio {
  width: 300px;
}